.grid {
  padding: .2rem 2%;
  margin: 10% auto;
  .row {
    .col {
      margin: .5rem .25rem;
    }
  }
}

.event-poster {
  max-width: 33%;
  img {
    max-width: 30.0rem;
  }
}
main {
  height: 100vh;

  background-color: var(--primary-color);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  .event-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--assistant-color), transparent, var(--primary-color));
  }
}

h2 {
  font-family: "Futura Hv Bt";
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.4;

  margin: .7rem auto;
}

.text-content {
  max-width: 45%;
  padding: 9rem 1.6rem;


  .text-col {
    width: 98% !important;

    p {
      font-family: "Futura Lt Bt";
      font-size: 1.6rem;
      text-align: justify;
      font-weight: 200;
      font-style:  normal;
      line-height: 1.4;
    }
  }
}

.video-player-container {
  width: 60%;
  box-sizing: border-box;
  position: relative;
  padding: .2rem 1rem;
  overflow: hidden;

  @media only screen and ( min-width: 1200px ) {
    height: 650px;
  }

  iframe {
    border: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

.vote-average {
  background-color: var(--assistant-color);

  width: 4.2rem;
  height: 4.2rem;

  border-radius: 50%;
  padding: 1.2rem .5rem;

  box-sizing: border-box;
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  span {
    font-family: "Futura Lt Bt";
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 1;
  }
}

.info {
  font-family: "Futura Lt Bt";
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1;

  padding: 1.5rem;
  span {
    color: var(--secondary-color);
  }
}

.event-assets {
  li {
    margin: 3rem auto;
  }
}
