<section class="container" *ngIf="movies.length">
  <div class="section-header">
    <h2>Filmes</h2>
  </div>
  <div class="section-body">
    <ul class="row">
      <li class="col seciton-col" *ngFor="let filme of movies.slice(0, 5)">
        <div class="card">
          <div class="card-header">
            <img src="https://localhost:3000/media/trem-bala-poster-01.jpg" alt="">
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col">
                <h5>{{ filme.title }}</h5>
                <h4><i class="icon-calendar"></i>  Data de release</h4>
              </div>
            </div>
          </div>
          <div class="card-actions">
            <div class="row">
              <div class="col">
                <div class="buttons-bar">
                  <button class="btn btn-outline btn-shop"><i class="icon-shop"></i></button>
                  <button class="btn btn-outline btn-info-event"><i class="icon-info"></i></button>
                </div>
              </div>
              <div class="col">
                <div class="event-rate">
                  <div class="row">
                    <div class="col">
                      <small><i class="icon-like"></i> 88%</small>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p>23,44</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<app-highlights></app-highlights>

<section class="container">
  <div class="section-header">
    <h2>Filmes</h2>
  </div>
  <div class="section-body">
    <ul class="row">
      <li class="col seciton-col">
        <div class="card">
          <div class="card-header">
            <img src="https://localhost:3000/media/trem-bala-poster-01.jpg" alt="">
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col event-release">
                <h4><i class="icon-calendar"></i>  Data de release</h4>
              </div>
            </div>
          </div>
          <div class="card-actions">
            <div class="row">
              <div class="col">
                <div class="buttons-bar">
                  <button class="btn btn-outline btn-shop"><i class="icon-shop"></i></button>
                  <button class="btn btn-outline btn-info-event"><i class="icon-info"></i></button>
                </div>
              </div>
              <div class="col">
                <div class="event-rate">
                  <div class="row">
                    <div class="col">
                      <small><i class="icon-like"></i> 88%</small>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p>23,44</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
