.section-col {
  max-width: 18%;


  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.card {
  padding: 0;
  border: none;


  .card-header {
    max-height: 42.6rem;
  }

  .card-content {
    padding: .1rem 1.6rem;
    h5 {
      margin: 0;

      font-family: 'Futura Hv Bt';
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      padding: 0;
    }
    h4 {
      font-family: 'Futura Hv Bt';
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;

      line-height: 1.4;

      padding: .7rem 0;
      i {
        color: var(--secondary-color)
      }
    }
  }

  .card-actions {
    box-sizing: border-box;
    padding: .5rem 1.6rem;
    display: block;

    .row {
      justify-content: space-between;
      .col {
        margin: 0;
      }
    }
  }
}

.btn-shop {
  margin-right: .5rem !important;
}

.event-rate {
  padding: .5rem;
  background-color: var(--tertiary-color);

  border-radius: .4rem;
  color: var(--assistant-color);

  text-align: center;
  line-height: 1.4;

  .col {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  small {
    font-family: 'Futura Hv Bt';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    i {
      color: var(--secondary-color);
    }
  }

  p {
    width: 100%;
    color: var(--secondary-assistant-color);

    font-family: 'Futura Hv Bt';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
  }
}
