<section class="container">
  <div class="section-body highlight-section">
    <ul class="row">
      <li class="col">
        <div class="card card-solid" style="background-image: url('https://localhost:3000/media/trem-bala-scene-04.jpg')">
          <div class="card-header">
            <h2>Em
              <span>Destaque</span>
              Hoje</h2>
          </div>
        </div>
      </li>
      <li class="col">
        <div class="card card-solid">
          <div class="card-header">
            <h2>Em
              <span>Destaque</span>
              Hoje</h2>
          </div>
        </div>
      </li>
      <li class="col">
        <div class="card card-solid">
          <div class="card-header">
            <h2>Em
              <span>Destaque</span>
              Hoje</h2>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
