@font-face {
  font-family: 'Futura Lt Bt';
  src: url('../../fonts/futura-lt-bt/futult-webfont.eot');
  src: url('../../fonts/futura-lt-bt/futult-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/futura-lt-bt/futult-webfont.woff2') format('woff2'),
  url('../../fonts/futura-lt-bt/futult-webfont.woff') format('woff'),
  url('../../fonts/futura-lt-bt/futult-webfont.ttf') format('truetype'),
  url('../../fonts/futura-lt-bt/futult-webfont.svg#futura_lt_btlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Futura Hv Bt';
  src: url('../../fonts/futura-hv-bt/futuhv-webfont.eot');
  src: url('../../fonts/futura-hv-bt/futuhv-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/futura-hv-bt/futuhv-webfont.woff2') format('woff2'),
  url('../../fonts/futura-hv-bt/futuhv-webfont.woff') format('woff'),
  url('../../fonts/futura-hv-bt/futuhv-webfont.ttf') format('truetype'),
  url('../../fonts/futura-hv-bt/futuhv-webfont.svg#futura_hv_btheavy') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Bariol';
  src: url('../../fonts/bariol/bariol_regular-webfont-webfont.eot');
  src: url('../../fonts/bariol/bariol_regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/bariol/bariol_regular-webfont-webfont.woff2') format('woff2'),
  url('../../fonts/bariol/bariol_regular-webfont-webfont.woff') format('woff'),
  url('../../fonts/bariol/bariol_regular-webfont-webfont.ttf') format('truetype'),
  url('../../fonts/bariol/bariol_regular-webfont-webfont.svg#bariolregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
