<header [style]="setBackgroundImage()">
  <div class="header-mask">
  <app-nav></app-nav>
  <div class="container header-info">
    <div class="header-row event-title" *ngIf="event?.title">
      <h1>{{event.title}}</h1>
    </div>
    <div class="header-row">
      <div class="event-descriptions" *ngIf="event?.content">
        <p>{{ event.content.slice(0, 145) }}...</p>
      </div>
      <div class="buttons-bar">
        <button *ngFor="let button of buttons"  [class]="button.cssClass"
                (click)="button?.action()">
          <i *ngIf="button.icon"  [class]="button.icon"></i> {{ button.text }}
        </button>
      </div>
    </div>
  </div>
  </div>
</header>
