<header style="background-image: url('https://localhost:3000/media/cover-halloween-ends-01.jpg')">
  <div class="header-mask">
  <app-nav></app-nav>
  <div class="container header-info">
<!--    <div class="header-row logo-event">-->
<!--      <img src="" alt="">-->
<!--    </div>-->
    <div class="header-row event-title">
      <h1>Titulo Evento</h1>
    </div>
    <div class="header-row">
      <div class="event-descriptions">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum neque et lorem fringilla, nec maximus felis euismod. Aliquam felis orci, lacinia quis mattis vitae, egestas eget arcu. In eget nisl et risus laoreet finibus. Vestibulum iaculis orci nunc, pharetra vehicula nibh aliquam eget. Etiam nec scelerisque urna. Integer nunc libero, semper ut commodo ut, maximus id enim. Cras vitae hendrerit eros, imperdiet posuere augue. Nulla quis tempor elit. Quisque lobortis sed massa a consectetur.</p>
      </div>
      <div class="buttons-bar">
        <button class="btn">value</button>
        <button class="btn btn-outline">value</button>
      </div>
    </div>
  </div>
  </div>
</header>
