<app-header [event]="event" [buttons]="buttons"></app-header>

<main>
  <div class="buttons-bar">

  </div>
  <section class="container" *ngIf="events && events?.length">
    <div class="section-header">
      <h2>{{ title }}</h2>
    </div>
    <div class="section-body">
      <ul class="row">
        <li class="col section-col" *ngFor="let event of events">
          <div class="card">
            <div class="card-header" >
              <img *ngIf="event?.files && event.files.poster" src="{{ event.files.poster.url }}" alt="{{ event.files.poster.alt }}" title="{{ event.files.poster.title }}" />
            </div>
            <div class="card-content">
              <div class="row">
                <div class="col">
                  <h5>{{ event.title }}</h5>
                  <h4><i class="icon-calendar"></i> {{ event.releaseDate | date: 'dd/MM/yyyy' }}</h4>
                </div>
              </div>
            </div>
            <div class="card-actions">
              <div class="row">
                <div class="col">
                  <div class="buttons-bar">
                    <button class="btn btn-outline btn-shop"><i class="icon-shop"></i></button>
                    <button class="btn btn-outline btn-info-event" (click)="goToInfo(event)"><i class="icon-info"></i></button>
                  </div>
                </div>
                <div class="col">
                  <div class="event-rate">
                    <div class="row">
                      <div class="col">
                        <small><i class="icon-like"></i> {{ event.voteAverage }}%</small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p>{{event.voteCount}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
